{% extends 'layouts/auth.html' %}
{% import 'theme/flowbite.macro.html' as ui %}

{% macro remember_me_label(field) %}
    <div class="flex items-center justify-between">
        {{ ui.form_label(field) }}
        <a href="{{ url('forgot_password') }}" class="font-medium text-sm">
            {{ _('Forgot password?') }}
        </a>
    </div>
{% endmacro %}

{% block content %}
    <h1 class="text-xl font-medium text-center leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{ _('Sign in to your account') }}
    </h1>
    <form class="space-y-4 md:space-y-6" action="{{ url('login') }}" method="post">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-3">
            {{ ui.button(_('Login with Google'), prepend=ui.social_logo_google()) }}
            {{ ui.button(_('Login with Apple'),  prepend=ui.social_logo_apple()) }}
        </div>

        {{ ui.divider('or') }}

        {{ ui.form_group(form.email) }}
        {{ ui.form_group(form.password, label=remember_me_label(form.password)) }}
        {{ ui.form_group(form.remember_me) }}

        {{ ui.primary_button(_('Sign in'), type='submit', css_classes='w-full') }}

        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            {{ _("Don’t have an account yet?") }}
            <a href="{{ url('register') }}" class="font-medium">
                {{ _('Sign up') }}
            </a>
        </p>
    </form>
{% endblock %}
