{% extends 'layouts/auth.html' %}
{% import 'lib/social.html' as social %}
{% import 'lib/forms.html' as forms %}

{% block content %}
    <form action="{{ request.url }}" method="post">
        {{ forms.form_group(form.email) }}
        {{ forms.form_group(form.password) }}

        <button class="btn btn-primary btn-block">{{ _('Sign in') }}</button>

        <div class="divider my-6">{{ _('or') }}</div>
        <div class="grid grid-cols-1 md:grid-cols-1 gap-2 md:gap-3">
            {{ social.google_link_button(_('Log in with Google'), url('auth.social.google').include_query_params(next=request.url|string)) }}
        </div>
    </form>
{% endblock %}

{% block post_content %}
    <br>
    <a href="{{ url('forgot_password') }}" class="link font-medium">
        {{ _('Forgot password?') }}
    </a>
    <br>
    <br>

    {{ _("Don’t have an account yet?") }}
    <a href="{{ url('register') }}" class="link font-medium">
        {{ _('Sign up') }}
    </a>
{% endblock %}
