{% macro base_button(text, type='button', prepend='', css_classes='') %}
    {% include 'theme/flowbite/buttons/button.html' %}
{% endmacro %}

{% macro button(text, type='button', prepend='', css_classes='') %}
    {% set classes = 'text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-gray-700' %}
    {% set classes = classes ~ ' focus:ring-gray-100 dark:focus:ring-gray-700' %}
    {% set classes = classes ~ ' dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700' %}
    {% set classes = classes ~ ' ' ~ css_classes %}
    {{ base_button(text, type=type, prepend=prepend, css_classes=classes) }}
{% endmacro %}

{% macro primary_button(text, type='button', prepend='', css_classes='') %}
    {% set classes = 'text-white bg-blue-500 hover:bg-blue-700' %}
    {% set classes = classes ~ ' focus:ring-4 focus:ring-blue-300 ' %}
    {% set classes = classes ~ ' dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %}
    {% set classes = classes ~ ' ' + css_classes %}
    {{ base_button(text, type=type, prepend=prepend, css_classes=classes) }}
{% endmacro %}

{% macro primary_block_button(text, type='button', prepend='', css_classes='') %}
    {% set classes = 'w-full ' + css_classes %}
    {{ primary_button(text, type=type, prepend=prepend, css_classes=classes) }}
{% endmacro %}

{% macro danger_button(text, type='button', prepend='', css_classes='') %}
    {% set classes = 'text-white bg-red-700 hover:bg-red-800' %}
    {% set classes = classes ~ ' focus:ring-red-300' %}
    {% set classes = classes ~ ' dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900' %}
    {% set classes = classes ~ ' ' + css_classes %}
    {{ base_button(text, type=type, prepend=prepend, css_classes=classes) }}
{% endmacro %}

{% macro social_logo_google() %}
    {% include 'theme/flowbite/social/logo_google.html' %}
{% endmacro %}

{% macro social_logo_apple() %}
    {% include 'theme/flowbite/social/logo_apple.html' %}
{% endmacro %}

{% macro divider(text='') %}
    {% include 'theme/flowbite/divider.html' %}
{% endmacro %}

{% macro form_input(field) %}
    {% include 'theme/flowbite/forms/input.html' %}
{% endmacro %}

{% macro form_checkbox(field) %}
    {% include 'theme/flowbite/forms/checkbox.html' %}
{% endmacro %}

{% macro form_field(field) %}
    {% if field.type == 'BooleanField' %}
        {{ form_checkbox(field) }}
    {% else %}
        {{ form_input(field) }}
    {% endif %}
{% endmacro %}

{% macro form_label(field) %}
    {% include 'theme/flowbite/forms/label.html' %}
{% endmacro %}

{% macro form_help(field) %}
    {% include 'theme/flowbite/forms/field_help.html' %}
{% endmacro %}

{% macro form_error(field) %}
    {% include 'theme/flowbite/forms/field_errors.html' %}
{% endmacro %}

{% macro form_group(field, label='') %}
    <div>
        {% if field.type == 'BooleanField' %}
            {% if label %}{{ label }}{% endif %}
        {% else %}
            {{ label or form_label(field) }}
        {% endif %}

        {{ form_field(field) }}
        {% if field.description -%}
            {{- form_help(field) }}
        {%- endif %}
        {% if field.errors -%}
            {{ form_error(field) }}
        {%- endif %}
    </div>
{% endmacro %}

{% macro success_alert(text, heading='') %}
    {% include 'theme/flowbite/alerts/success_alert.html' %}
{% endmacro %}

{% macro warning_alert(text, heading='') %}
    {% include 'theme/flowbite/alerts/warning_alert.html' %}
{% endmacro %}

{% macro danger_alert(text, heading='') %}
    {% include 'theme/flowbite/alerts/danger_alert.html' %}
{% endmacro %}
