{% import 'web/teams/lib.macro.html' as teams %}
{% import 'lib/pagination.html' as pagination %}

<div class="relative overflow-x-auto space-y-3"
     hx-get="{{ request.url }}"
     hx-boost="true"
     hx-target="this"
     hx-trigger="refresh from:body">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ _('Member') }}</th>
            <th>{{ _('Role') }}</th>
            <th>{{ _('Status') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td class="text-nowrap">
                    {{ member }}
                    {% if member.team.owner == member.user %}
                        <span class="badge badge-blue ms-2">{{ _('Owner') }}</span>
                    {% endif %}
                    {% if member.user == current_user %}
                        <span class="badge badge-pink ms-2">{{ _('You') }}</span>
                    {% endif %}
                </td>
                <td>{{ member.role }}</td>
                <td>
                    {{ teams.member_status(member) }}
                </td>
                <td>
                    <div class="flex items-center justify-end gap-2">
                        <o-popover placement="bottom-end" target="#member-{{ member.id }}">
                            <button type="button" class="btn btn-text btn-rounded">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                                    <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                                    <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                                </svg>
                            </button>
                        </o-popover>
                        <div class="dropdown" id="member-{{ member.id }}">
                            <nav class="list-menu">
                                <button type="button" {% if current_team.owner == member.user %}disabled title="{{ _('Team owner cannot be suspended.') }}"{% endif %}
                                        hx-confirm="{{ _('Are you sure you want to deactivate this member?') }}"
                                        hx-post="{{ url('teams.members.toggle_status', member_id=member.id) }}">
                                    {% if member.is_suspended %}
                                        {{ _('Activate') }}
                                    {% else %}
                                        {{ _('Suspend') }}
                                    {% endif %}
                                </button>
                                {% if member.user == current_user %}
                                    {% if current_team.owner != member.user %}
                                        <button type="button"
                                                hx-confirm="{{ _('Are you sure you want to leave this team?') }}"
                                                hx-post="{{ url('teams.members.leave') }}">
                                            {{ _('Leave') }}
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagination.pagination(request, members) }}
</div>
