<!DOCTYPE html>
<html lang="{{ app_language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title or settings.app_name }}</title>
    <link rel="icon" href="{{ static_url('public/favicon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ static_url('apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ static_url('main.css', no_cache=settings.debug) }}">
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            crossorigin="anonymous"></script>
</head>

<body class="bg-gray-50 dark:bg-gray-900">
{% block body %}{% endblock %}
<script src="{{ static_url('main.js') }}"></script>
<o-toasts></o-toasts>
</body>
</html>
