@import "tailwind.css";
@import "flowbite.css";

@layer base {
    a:not([class]), .link {
        color: theme('colors.blue.500');
        &:hover {
            text-decoration: underline;
        }
        @apply dark:text-blue-500;
    }
}
