@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwind.css";
@import "flowbite.css";
@import "notyf/notyf.min.css";

@layer base {
    body {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
    }

    a:not([class]), .link {
        color: theme('colors.blue.500');
        &:hover {
            text-decoration: underline;
        }
        @apply dark:text-blue-500;
    }
}

[x-cloak] {
    display: none !important;
}
