{% extends 'layouts/app.html' %}

{% block content %}
    <div class="space-y-6 mx-auto md:max-w-2xl">
        {% with form=profile_form %}
            {% include 'web/profile/profile_form.html' %}
        {% endwith %}

        {% with form=password_form %}
            {% include 'web/profile/password_form.html' %}
        {% endwith %}

        <section class="card">
            <header>
                <h2>{{ _('Delete account') }}</h2>
            </header>
            <main>
                {{ _('Once you delete your account, there is no going back. Please be certain.') }}
            </main>
            <footer>
                <button class="btn btn-danger">{{ _('Yes, delete my account') }}</button>
            </footer>
        </section>
    </div>
{% endblock %}
