{% extends 'layouts/app.html' %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div class="space-y-5">
            {% with form=profile_form %}
                {% include 'web/profile/profile_form.html' %}
            {% endwith %}
        </div>

        <div class="space-y-5">
            {% with form=password_form %}
                {% include 'web/profile/password_form.html' %}
            {% endwith %}
            <section class="card">
                <header>
                    <h2>{{ _('Delete account') }}</h2>
                </header>
                <main>
                    {{ _('Once you delete your account, there is no going back. Please be certain.') }}
                </main>
                <footer>
                    <button class="btn btn-danger"
                            hx-confirm="{{ _('Please confirm account deletion?') }}"
                            hx-delete="{{ url('profile.delete') }}"
                    >
                        {{ _('Yes, delete my account') }}
                    </button>
                </footer>
            </section>
        </div>

    </div>
{% endblock %}
