{% import 'lib/forms.html' as forms %}

<form action="{{ url('profile.password') }}" method="post"
      hx-post="{{ url('profile.password') }}"
      hx-target="this"
      hx-swap="outerHTML"
>
    <header>
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{{ _('Change Password') }}</h2>
    </header>
    <main class="grid md:grid-cols-2 gap-x-5">
        {{ forms.form_group(form.current_password) }}
        <div></div>
        {{ forms.form_group(form.password) }}
        {{ forms.form_group(form.password_confirm) }}
    </main>
    <footer>
        <button class="btn btn-primary">{{ _('Change password') }}</button>
    </footer>
</form>
