{% import 'lib/forms.html' as forms %}

<form action="{{ url('profile.password') }}" method="post"
      class="bg-white dark:bg-gray-900 p-10 space-y-4 border border-gray-200 rounded-md"
      hx-post="{{ url('profile.password') }}"
      hx-target="this"
      hx-swap="outerHTML"
>
    <header>
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{{ _('Change Password') }}</h2>
    </header>
    <main>
        <div class="grid grid-cols-1 gap-5">
            {{ forms.form_group(form.current_password) }}
            {{ forms.form_group(form.password) }}
            {{ forms.form_group(form.password_confirm) }}
        </div>
    </main>
    <footer>
        <button class="btn btn-primary">{{ _('Change password') }}</button>
    </footer>
</form>
